body {
  background-color: #121b27;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  overflow-x: hidden;
}

.text_logo {
  font-size: 2.5rem;
}

.logo_img {
  width: 1.8rem;
  height: 1.8rem;
}

.nav_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2.5rem;
}

.r_btn {
  background: #121b27;
  padding: 10px 30px;
  border: 1px solid#c404ff;
  border-radius: 30px;
  color: #fff;
  margin-top: 1rem;
}

.icon_1 {
  position: absolute;
  left: 32%;
  top: 615px;
  display: none;
}

.icon_2 {
  position: absolute;
  left: 32%;
  top: 688px;
  display: none;
}

/* .input_1  {
  position: absolute;
  top: 615px;
}
.input_2 {
  position: absolute;
  top: 688px;
} */

.p_1 {
  display: flex;
  justify-content: space-between;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_circle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 28%;
  bottom: 0%;
}

.circle_2 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 82%;
  top: 100px;
}

.spiral {
  position: absolute;
  left: 70%;
  top: 70.03%;
}

.star_4 {
  position: absolute;
  width: 26px;
  height: 34px;
  left: 362px;
  top: 150px;
}

.star_5 {
  position: absolute;
  width: 32px;
  height: 40px;
  left: 86%;
  top: 300px;
}

.star_6 {
  position: absolute;
  width: 30px;
  height: 44px;
  left: 11%;
  top: 873px;
}

.p_text {
  margin-left: 1rem;
}

.star_7 {
  position: absolute;
  width: 30px;
  height: 44px;
  left: 90%;
  top: 799px;
}

.text_main {
  padding: 0 10rem;
  margin: 4rem 0 0 0;
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_desc {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin-top: -2rem;
  padding: 0 6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  height: 2.5rem;
  width: 443px;
  margin: 1rem;
  border: 1px solid rgb(122, 120, 120);
  background-color: #121b27;
  border-radius: 5px;
}

.main_content input {
  padding: 0 0 0 40px;
}

.id_p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn {
  background: linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
  border-radius: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  width: 443px;
  height: 50px;
  border: none;
  color: #fff;
}

span {
  margin-left: 1rem;
}

#i_1 {
  background: blue;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -2px;
}

#i_2 {
  background: #c404ff;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -2px;
}

#i_3 {
  background: rgb(7, 7, 197);
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -2px;
}

#i_4 {
  background: blueviolet;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -2px;
}

.p_text {
  color: #a75fd2;
}

/* about page */

.abt_section {
  padding: 10rem 0 5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.col_2 {
  width: 40%;
  padding-right: 4rem;
}

.form_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: #1D2939;
  border-radius: 20px;
}

textarea {
  background: #1D2939;
  margin: 2rem 0;
  width: 90%;
  border-radius: 5px;
  padding: 2rem 0 0 1rem;
}

select {
  width: 92%;
  height: 2.8rem;
  border-radius: 5px;
  background: #1D2939;
  color: #7e7b7b;
  padding: 0 0 0 1rem;
  margin: 1rem 0 0 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 0 0 0 1rem;
  background: #1D2939;
  border-color: #7e7b7b;
}

.f_text {
  /* position: absolute; */
  width: 310px;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 130%; */
}

.col_1 {
  width: 40%;
}

hr {
  width: 88%;
  background-color: #7e7b7b;
  height: 3px;
  border: none;
}

.abt_text {
  text-align: center;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}

.abt_desc {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 138px;
  top: 101px;
}

#star_1 {
  position: absolute;
  width: 22px;
  height: 30px;
  left: 415px;
  top: 265px;
}

#star_2 {
  position: absolute;
  width: 30px;
  height: 46px;
  left: 595px;
  top: 756px;

}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
}

.footer_sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}

#star_3 {
  position: absolute;
  width: 30px;
  height: 46px;
  left: 399px;
  top: 768px;

}

.r_btn {
  text-decoration: none;
}

.footer_icon {
  margin-top: 1rem;
  padding-right: 1rem;
}

.ft_text {
  font-weight: 600;
}

.mb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_modal {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.m_modal {
  width: 88px;
  height: 88px;
  left: 179px;
  top: 102px;
  background: #20AC5B;
  border: 10px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px -5px 20px #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (min-width: 768px) {
  .form_section {
    width: 500px;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .abt_section {
    flex-direction: column;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    /* justify-content: center !important;
    align-items: center !important; */
    width: 100%;
  }

  .col_1 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .star_4,
  .star_5,
  .star_6,
  .star_7 {
    z-index: -1000;
  }

  .col_2 {
    width: 600px !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .form_section {
    width: 100%;
  }

  .form_section input {
    width: 100%;
  }

  .abt_text {
    font-size: 2rem;
  }

  .abt_desc {
    z-index: 100;
  }

  .line_img {
    height: 5rem;
    width: 5rem;
  }

  .text_logo {
    font-size: 2rem;
  }

  .logo_img {
    width: 1rem;
    height: 1rem;
  }

  .r_btn {
    padding: 5px 20px;
  }

  .text_main {
    padding: 0 1rem !important;
    font-size: 2.5rem !important;
  }

  .text_desc {
    font-size: 1.2rem;
    margin: 0;
    padding: 0 2rem;
  }

  .main_circle {
    z-index: -10;
  }

  .main_content input {
    width: 200px;
    height: 2rem;
  }

  .btn {
    width: 150px;
    /* height: 1.5rem; */
    padding: 8px 6px !important;
    height: 30px;
  }

  .icon_1 {
    top: 462px;
    left: 35%;
  }

  .icon_2 {
    top: 528px;
    left: 35%;
  }

  .footer_sect {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
    padding: 0 0 0 0 !important;
  }

}


@media screen and (max-width: 568px) {
  body {
    overflow-x: hidden !important;
  }

  .spiral {
    display: none;
  }

  .icon_1 {
    top: 568px;
    left: 24%;
  }

  .icon_2 {
    top: 635px;
    left: 24%;
  }

  .col_1 {
    text-align: center;
    margin: 0 0 0 3rem;
  }

  .col_2 {
    width: 480px !important;
    margin: 0 0 0 3rem;
  }
}

@media screen and (max-width: 368px) {
  .icon_1 {
    top: 670px;
    left: 18%;
  }

  .icon_2 {
    top: 734px;
    left: 18%;
  }

  .col_2 {
    width: 300px !important;
    padding: 0 0 0 7rem !important;
    margin-left: -1.5rem;
  }
  .form_section {
    width: 300px;
  }

  .col_1 {
    padding: 0 0 0 7rem !important;
    margin-left: -1.5rem;
  }

  hr {
    margin-left: 7rem;
  }

  .footer_sect {
    margin-left: 7rem;
    justify-content: left !important;
    text-align: left !important;
  }
}

@media screen and (max-width: 315px) {
  .icon_1 {
    display: none;
  }

  .icon_2 {
    display: none;
  }

  .main_content {
    margin-left: 2rem;
    padding: 0 1rem !important;
  }
  .spiral {
    display: none;
  }
}